/* переменные для значений color */
:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --social-icon-color: #afb1b8;
  --button-background-color: #188ce8;
}

/* стандартные параметры стиля */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
}

/* стандартные параметры контейнера */
/* xxxxxxxxxxxxxxxxxxxx */

/* дополнительные параметры сброса отступов */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

/* убираем подчеркивание */
.link {
  text-decoration: none;
}

/* убираем точки из списка <ul> */
.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*  общий клас контейнер  */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* border: 1 solid teal; */
  /* outline: 2px solid red; */
  /* background-color: yellow; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**********************  Header  ******************/

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
}

.header .container {
  display: flex;
}
.nav {
  display: flex;
}

.header__logo-link {
  font-weight: 700;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__logo-span {
  color: var(--accent-color);
}
.nav-menu__list {
  margin-left: 92px;
  display: flex;
}

.nav-menu__list :not(:last-child) {
  margin-right: 50px;
}

.nav-menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--secondary-title-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: var(--accent-color);
}

.nav-menu__link--current {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav-menu__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.nav-contact {
  display: flex;
  margin-left: auto;
}

.nav-contact :not(:last-child) {
  margin-right: 50px;
}

/* .nav-contact .nav-contact__item + .nav-contact__item {
  margin-left: 50px;
} */

.nav-contact__item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.nav-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact__link:hover,
.nav-contact__link:focus {
  color: var(--accent-color);
}

.nav-contact__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/******************  section hero  ****************/

.hero {
  background-color: var(--background-color);
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-title-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  font-size: 16px;
  line-height: calc(30 / 16);

  padding: 10px 32px;
  border-radius: 4px;
  border: none;

  color: var(--primary-title-color);
  background: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:focus,
.hero__btn:hover {
  cursor: pointer;
  color: var(--primary-title-color);
  background-color: var(--button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/********************** modal window *********************/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  min-height: 581px;

  background: var(--primary-title-color);

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

  background: var(--primary-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-close-button:hover .modal-close-icon {
  fill: var(--accent-color);
}

.modal-close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 11px;
  height: 11px;
}

.modal-tittle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--secondary-title-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 100%;
  min-height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* box-sizing: border-box; */
  margin-top: 4px;
  /* transition: border-color 1150 cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-label {
  position: relative;
  font-family: Roboto;
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-label:focus-within .modal-input,
.modal-label:focus-within,
.modal-label:focus .modal-input,
.modal-label:hover .modal-input,
.modal-label:focus .icon-modal,
.modal-label:hover .icon-modal {
  outline: none;
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-modal {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  top: 36px;
  right: 405px;
  transition: fill 250 cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  padding: 10px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-textarea:focus-within,
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-label-checbox {
  font-size: 14px;
  line-height: calc(24 / 14);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* 
.modal-checbox {
  appearance: none;
} */

.modal-checbox:checked + .icon-checkbox {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: content-box;
  /* border: hidden; */
}

.icon-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--secondary-title-color);
  border-radius: 4px;
  background-color: var(--primary-title-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-Link {
  color: var(--accent-color);
  margin-left: 4px;
}

.modal-submit-button {
  width: 200px;
  height: 50px;
  margin: 0px auto;
  cursor: pointer;

  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: var(--button-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*****************  benefits section  ************/

.benefits__list {
  display: flex;
}

.benefits__list :not(:last-child) {
  margin-right: 30px;
}

.benefits__item {
  width: 270px;
}

.benefits__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__tittle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.benefits__text {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/****************  activiti section *************/
.activiti {
  padding-bottom: 94px;
  background-color: var(--primary-title-color);
}

.activiti__topic {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.activiti__list {
  display: flex;
}

.activiti__list :not(:last-child) {
  margin-right: 30px;
}

.activiti__block {
  position: relative;
}

.activiti__fond {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.activiti__caption {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-title-color);
}

/******************* team section ****************/

.team {
  background-color: var(--secondary-background-color);
}

.team__topic {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--secondary-title-color);
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-item {
  background-color: var(--primary-title-color);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* text-align: center; */
}

.team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(428px - 260px);
}

.item-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  color: var(--secondary-title-color);
}

.function-team {
  font-size: 36px;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  display: block;
}
.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-title-color);
}

/**************** clients section ****************/

.clients-name {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  line-height: calc(42 / 36);
  color: var(--secondary-title-color);
  text-align: center;
}

.clients-list {
  display: flex;
}

.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  color: var(--social-icon-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/**#################### Portfolio page  ############**/

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list .btn-item + .btn-item {
  margin-left: 8px;
}

.list-price {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.item-price {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--primary-text-color);
}

.portfolio-activ-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
}

.portfolio-activ-btn:hover,
.portfolio-activ-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: var(--secondary-title-color);
  background-color: var(--secondary-background-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  cursor: pointer;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  font-family: inherit;
  font-weight: 500;
  background: var(--primary-title-color);
  display: flex;
  /* margin-right: 30px; */
  /* margin-bottom: 30px; */
}

/* .portfolio-link:nth-child(3n) {
  margin-right: 0px;
} */

/* .portfolio-link:nth-last-child(-n + 3) {
  margin-bottom: 0px;
} */

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-block {
  position: relative;
  overflow: hidden;
}

.portfolio-link-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(102%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:focus .portfolio-link-text,
.portfolio-link:hover .portfolio-link-text {
  transform: translateY(0);
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-block {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-block:hover .portfolio-item,
.portfolio-block:focus .portfolio-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  /* background-color: red; */
}

/********************  Footer  ********************/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-block + .footer-block {
  margin-left: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primary-title-color);
}

.footer-list .footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.footer-tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--secondary-background-color);

  margin-bottom: 30px;
  display: inline-block;
}

.footer-link-social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-background-color);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-social:focus,
.footer-link-social:hover {
  background-color: var(--accent-color);
}

.footer-icon-social {
  width: 20px;
  height: 20px;
}

.footer-subscribe-container {
  margin-left: auto;
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-tittle-subscribe {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--secondary-background-color);

  margin-bottom: 20px;
}

.footer-form {
  display: flex;
}

.footer-submit {
  font-size: 16px;
  line-height: calc(30 / 16);
  font-weight: bold;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 29px;
  margin-left: 12px;
  display: flex;

  color: var(--primary-title-color);
  background: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  /* transition: background-color 250 cubic-bezier(0.4, 0, 0.2, 1); */
}

.footer-submit:hover,
.footer-submit:focus {
  background-color: var(--button-background-color);
}

.footer-subscribe-svg {
  fill: var(--primary-title-color);
  margin-left: 12px;
}
